#Block{
    background-color: blue;
    font-family: "Times New Roman", Times, serif;
    color: white;
    width: 35%;
    padding: 20px;
    border: 30px solid blue;
    margin-left: 30%;
}

#greenBlock{
    background-color:green;
    font-family: "Times New Roman", Times, serif;
    color: white;
    width: 35%;
    margin: 1%;
    margin-left: 505px;
    
}