#wrapper{
    background-color: aqua;
}

#sidebar{
    float:left;
}

#menu{
    color:black;
    width: 190px;
    height: 90px;
    background-color: bisque;
    padding-left: 2px;
    padding-top: 2px;
    box-sizing: border-box;
}

#block{
    width: 190px;
    background-color: aqua;
    height: 90px;
}

#content{
    color:black;
    background-color: grey;
}


