#block{
    background-color: aqua;
    width: 100%;
    position: relative;
    height: 265px;
    border: 2px solid green;
    font-family: Georgia, Garamond, serif;

}

#image { 
    float:right;
}