#menu{
    color:black;
    background-color: bisque;
    flex-shrink: 0;
    height: max-content;
    width: 250px;
}

#block{
    background-color: aqua;
    display: flex;
    border: 1px solid green;
}


#content{
    background-color: grey;
    line-height: 1.3;
    margin-left: 3px;
    margin-right: 3px;
}

@media screen and (orientation: portrait) {
    #block{
      flex-wrap: wrap;
    }
    #content{
      margin-right:20%;
      margin-left: 0%;
    }
  }


