
            .text 
            {
                text-align:  center;
            }

            .value
            {
                letter-spacing: 0.5em;
            }

            .bigText
            {
                line-height: 1.25em;  
            }

            .indent
            {
                line-height: 2;
            }

            .square
            {
                width: 90px;
                height:90px;
                border-style: solid;
                border-color: white;
                border-width: thick;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 30px;
                float: left;
                margin:20px;
                margin-top:0px;
            }

            *{      
                background-color: blue;
                padding-left: 3px;
                padding-right: 3px;
                font-family: Helvetica;
                background-position: right bottom;
            }
            
            a:link    {color:red; text-decoration:underline}
            a:visited {color:rgb(166, 104, 166); text-decoration:underline}
            a:hover   {color:palevioletred; text-decoration:underline}
            a:active  {color:yellow; text-decoration:underline}

            td{
                width: 50px; 
                height:50px; 
                border: solid 2px silver; 
                text-align:center;
                vertical-align: bottom;
                color:white;
            }

            BODY { margin-bottom: 250px; }
            #footer {
             position: fixed; /* Фиксированное положение */
             left: 0; bottom: 0; /* Левый нижний угол */
             padding: 10px; /* Поля вокруг текста */
             background: #39b54a; /* Цвет фона */
             color: #fff; /* Цвет текста */
             width: 100%; /* Ширина слоя */
            }
   
            BODY { margin-top: 50px; }
            #header {
             font-family: monospace;
             position: fixed; /* Относительное положение */
             right: 0; top: 0; /* Левый нижний угол */
             padding: 10px; /* Поля вокруг текста */
             background: #39b54a; /* Цвет фона */
             color: #fff; /* Цвет текста */
             width: 100%; /* Ширина слоя */
            }

            h1, h2, h3, div{
                 
                color: white;
            }

            ul{
                color:white;
                padding: 0px 40px;
            }

            li{
                padding-bottom: 5px;
            }

            table {
                border: 1px solid #ccc;
                border-spacing: 2px;
                border-collapse: separate;
            }

            h2 {
                word-spacing: 10px;
               } 

            

          